<h1>Listing estudiantes</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Fecha nacimiento</th>
    <th>Activo</th>
    <th>Codigo</th>
    <th>Inscripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @estudiantes.each do |estudiante| %>
  <tr>
    <td><%= estudiante.nombre %></td>
    <td><%= estudiante.apellido %></td>
    <td><%= estudiante.fecha_nacimiento %></td>
    <td><%= estudiante.activo %></td>
    <td><%= estudiante.codigo %></td>
    <td><%= estudiante.inscripcion %></td>
    <td><%= link_to 'Show', estudiante %></td>
    <td><%= link_to 'Edit', edit_estudiante_path(estudiante) %></td>
    <td><%= link_to 'Destroy', estudiante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Registrar Estudiante', new_estudiante_path %>
